.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  margin: 50px 0 43px;
  border-radius: 25px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &__title {
    color: white;
    font-size: 3rem;
    font-weight: 500;
  }
}
